<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="report.Properties.Settings.restaurantdbConnectionString"
            connectionString="server=127.0.0.1;User Id=root;database=restaurantdb;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>